h1 {
    color: brown;
    font-weight: bold;
}

#canvas-wrap {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
    width: 700px;
}

canvas {
    border: 5px solid brown;
    /* margin: auto;
    display: block; */
   
}


body {
    background-color: #E5CEB5;
}